* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  color: hsl(192, 100%, 9%);
}
.wrapper {
  border: 1px solid hsl(208, 11%, 55%);
  overflow-y: scroll;
}
header {
  height: 450px;
  background-color: hsl(193, 100%, 96%);
  background-image: url(/images/bg-hero-desktop.svg);
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.header-nav a {
  padding: 11px;
  width: 17%;
  border-radius: 50px;
  background-color: white;
  box-shadow: 0px 11px 35px 4px rgba(201, 188, 201, 0.15);
  text-decoration: none;
  text-align: center;
  color: hsl(192, 100%, 9%);
}
.header-nav a:hover {
  transform: scale(1.1);
  transition: .80s;
}
.header-body {
  margin-top: 23px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-text {
  width: 25vw;
  padding: 0px;
}
h1 {
  font-family: "Poppins";
  font-weight: 600;
  margin-bottom: 20px;
  width: 19vw;
  color: hsl(192, 100%, 9%);
}
.header-text p {
  margin-bottom: 20px;
}
.header-text button {
  background-color: hsl(322, 100%, 66%);
  color: white;
  padding: 8px;
  width: 45%;
  border-radius: 50px;
  box-shadow: 0px 11px 35px 4px rgba(255, 0, 234, 0.15);
  border: 1px solid hsl(322, 100%, 66%);
}
.header-text button:hover {
  background-color: hsl(322, 79%, 72%);
  transform: scale(1.5);
  transition: .80s;
}
.header-img {
  width: 500px;
}

/* Main styling  starts here*/
main {
  padding: 70px;
}
section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid hsl(208, 11%, 55%);
  padding: 20px;
  width: 70%;
  border-radius: 20px;
  box-shadow: 0px 11px 35px 4px rgba(201, 188, 201, 0.15);
  margin: 70px auto;
  
}
section:hover {
  transform: scale(1.1);
  transition: .80s;
}
section img {
  width: 290px;
  margin: 10px;
}
.section1-img {
  width: 250px;
}
h2 {
  color: hsl(192, 100%, 9%);
  font-family: "Poppins";
  font-weight: 600;
  margin-bottom: 20px;
}
.content {
  width: 50%;
}
.get-started {
  border: 1px solid hsl(208, 11%, 55%);
  border-radius: 20px;
  width: 27%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: 5px;
  padding: 25px;
  background-color: white;
  box-shadow: 0px 11px 35px 4px rgba(201, 188, 201, 0.15);
  color: hsl(192, 100%, 9%);
}
.get-started:hover {
  transform: scale(1.1);
  transition: .80s;
}
.get-started a {
  background-color: hsl(322, 100%, 66%);
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 5px 21px;
  margin-top: 15px;
  border-radius: 50px;
  border: 1px solid hsl(322, 100%, 66%);
}
.get-started a:hover {
  background-color: hsl(322, 79%, 72%);
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(192, 100%, 9%);
  padding: 25px;
}
footer a {
  text-decoration: none;
  color: hsl(193, 100%, 96%);
  padding: 6px;
}
.footer-left {
  width: 30%;
  color: hsl(193, 100%, 96%);
}
.footer-left .logo h1 {
  color: hsl(193, 100%, 96%);
  font-size: 38px;
  font-family: open sans;
}
.footer-left .logo {
  display: flex;
}
.location,
.phone {
  margin-bottom: 15px;
}
.footer-middle {
  display: flex;
  justify-content: space-around;
}
.footer-middle ul {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh;
  margin-top: 95px;
}

/*Media Query Starts Here*/

@media (max-width: 1440px) {
  .header-img {
    width: 450px;
  }
  .header-text {
    width: 25vw;
  }
  h1 {
    width: 22vw;
  }
}
@media (max-width: 912px) {
  header {
    height: 38vh;
  }
}
@media (max-width: 912px) {
  header {
    height: 38vh;
  }
}
@media (max-width: 820px) {
  header {
    height:40vh;
  }
  .header-nav a {
    padding: 9px;
    width: 37%;
  }
  .header-nav img {
    width: 150px;
  }
  .header-body {
    margin-top: 70px;
    align-items: center;
  }
  .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  .header-text button {
    padding: 12px;
    width: 55%;
    margin-bottom: 30px;
  }
  h1 {
    text-align: center;
    width: 90%;
  }
  .header-text p {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
  }
  .header-img {
    width: 330px;
  }
  section {
    width: 80vw;
  }
  .content {
    text-align: center;
  }
  .logo {
    width: 50%;
    padding-top: 8px;
  }
  .get-started {
    width: 40%;
  }
}
@media (max-width: 768px) {
  header {
    height: 43vh;
  }
  .header-nav a {
    padding: 9px;
    width: 37%;
  }
  .header-nav img {
    width: 150px;
  }
  .header-body {
    margin-top: 20px;
    align-items: center;
  }
  .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
  .header-text button {
    padding: 12px;
    width: 55%;
    margin-bottom: 30px;
  }
  h1 {
    text-align: center;
    width: 90%;
  }
  .header-text p {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
  }
  .header-img {
    width: 330px;
  }
  section {
    width: 80vw;
  }
  .content {
    text-align: center;
  }
  .logo {
    width: 50%;
    padding-top: 8px;
  }
  .get-started {
    width: 40%;
  }
}

@media (max-width: 540px) {
  .wrapper {
    width: 100%;
    border: 5px solid hsl(208, 11%, 55%);
  }
  header {
    height: 70vh;
  }
  .header-nav a {
    padding: 5px;
    width: 37%;
  }
  .header-nav img {
    width: 150px;
  }
  .header-body {
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }
  .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .header-text button {
    padding: 12px;
    width: 75%;
    margin-bottom: 30px;
  }

  .logo {
    width: 50%;
    margin: auto;
    padding-top: 8px;
  }
  h1 {
    text-align: center;
    width: 90%;
  }
  .header-text p {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
  }
  .header-img {
    width: 335px;
  }
  section {
    flex-direction: column;
    width: 80vw;
  }
  .content {
    text-align: center;
  }
  main {
    padding: 30px;
  }
  section img {
    width: 200px;
  }
  .section1-img {
    width: 200px;
  }
  h2 {
    color: hsl(192, 100%, 9%);
    font-family: "Poppins";
    font-weight: 600;
    margin-bottom: 20px;
  }
  .content {
    width: 90%;
  }
  .get-started {
    width: 67%;
    padding: 15px;
    box-shadow: 0px 11px 35px 4px rgba(255, 0, 234, 0.15);
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(192, 100%, 9%);
    padding: 25px;
    margin-top: 50px;
  }
  .footer-left {
    width: 100%;
  }
  .footer-left-location {
    text-align: center;
  }
  
  .footer-middle {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer-middle ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    margin-top: 20px;
  }
  .footer-right a{
    text-align: center;
  }
  
}
@media (max-width: 414px) {
  .wrapper {
    width: 100%;
    border: 5px solid hsl(208, 11%, 55%);
  }
  header {
    height: 83vh;
  }
  .header-nav a {
    padding: 5px;
    width: 37%;
  }
  .header-nav img {
    width: 150px;
  }
  .header-body {
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }
  .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .header-text button {
    padding: 12px;
    width: 75%;
    margin-bottom: 30px;
  }

  .logo {
    width: 50%;
    margin: auto;
    padding-top: 8px;
  }
  h1 {
    text-align: center;
    width: 90%;
  }
  .header-text p {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
  }
  .header-img {
    width: 335px;
  }
  section {
    flex-direction: column;
    width: 80vw;
  }
  .content {
    text-align: center;
  }
  main {
    padding: 30px;
  }
  section img {
    width: 200px;
  }
  .section1-img {
    width: 200px;
  }
  h2 {
    color: hsl(192, 100%, 9%);
    font-family: "Poppins";
    font-weight: 600;
    margin-bottom: 20px;
  }
  .content {
    width: 90%;
  }
  .get-started {
    width: 67%;
    padding: 15px;
    box-shadow: 0px 11px 35px 4px rgba(255, 0, 234, 0.15);
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(192, 100%, 9%);
    padding: 25px;
    margin-top: 50px;
  }
  .footer-left {
    width: 100%;
  }
  .footer-left-location {
    text-align: center;
  }
  
  .footer-middle {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer-middle ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    margin-top: 50px;
  }
  .footer-right a{
    text-align: center;
  }
  
}
@media (max-width: 412px) {
  .wrapper {
    width: 100%;
    border: 5px solid hsl(208, 11%, 55%);
  }
  header {
    height: 71vh;
  }
  .header-nav a {
    padding: 5px;
    width: 37%;
  }
  .header-nav img {
    width: 150px;
  }
  .header-body {
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }
  .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .header-text button {
    padding: 12px;
    width: 75%;
    margin-bottom: 30px;
  }

  .logo {
    width: 50%;
    margin: auto;
    padding-top: 8px;
  }
  h1 {
    text-align: center;
    width: 90%;
  }
  .header-text p {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
  }
  .header-img {
    width: 335px;
  }
  section {
    flex-direction: column;
    width: 80vw;
  }
  .content {
    text-align: center;
  }
  main {
    padding: 30px;
  }
  section img {
    width: 200px;
  }
  .section1-img {
    width: 200px;
  }
  h2 {
    color: hsl(192, 100%, 9%);
    font-family: "Poppins";
    font-weight: 600;
    margin-bottom: 20px;
  }
  .content {
    width: 90%;
  }
  .get-started {
    width: 67%;
    padding: 15px;
    box-shadow: 0px 11px 35px 4px rgba(255, 0, 234, 0.15);
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(192, 100%, 9%);
    padding: 25px;
    margin-top: 50px;
  }
  .footer-left {
    width: 100%;
  }
  .footer-left-location {
    text-align: center;
  }
  
  .footer-middle {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer-middle ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    margin-top: 50px;
  }
  .footer-right a{
    text-align: center;
  }
  
}

@media (max-width: 375px) {
  .wrapper {
    width: 100%;
    border: 5px solid hsl(208, 11%, 55%);
  }
  header {
    height: 83vh;
  }
  .header-nav a {
    padding: 5px;
    width: 37%;
  }
  .header-nav img {
    width: 150px;
  }
  .header-body {
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
  }
  .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
  }
  .header-text button {
    padding: 12px;
    width: 75%;
    margin-bottom: 30px;
  }

  .logo {
    width: 50%;
    margin: auto;
    padding-top: 8px;
  }
  h1 {
    text-align: center;
    width: 90%;
  }
  .header-text p {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
  }
  .header-img {
    width: 335px;
  }
  section {
    flex-direction: column;
    width: 80vw;
  }
  .content {
    text-align: center;
  }
  main {
    padding: 30px;
  }
  section img {
    width: 200px;
  }
  .section1-img {
    width: 200px;
  }
  h2 {
    color: hsl(192, 100%, 9%);
    font-family: "Poppins";
    font-weight: 600;
    margin-bottom: 20px;
  }
  .content {
    width: 90%;
  }
  .get-started {
    width: 67%;
    padding: 15px;
    box-shadow: 0px 11px 35px 4px rgba(255, 0, 234, 0.15);
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(192, 100%, 9%);
    padding: 25px;
    margin-top: 50px;
  }
  .footer-left {
    width: 100%;
  }
  .footer-left-location {
    text-align: center;
  }
  
  .footer-middle {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer-middle ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    margin-top: 50px;
  }
  .footer-right a{
    text-align: center;
  }
  
}


@media (max-width: 280px) {
  .wrapper {
    width: 100%;
    border: 5px solid hsl(208, 11%, 55%);
  }
  header {
    height: 77vh;
  }
  .header-nav a {
    padding: 3px;
    width: 57%;
  }
  .header-nav img {
    width: 100px;
  }
  .header-body {
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
  }
  .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    font-size: 13px;
  }
  .header-text button {
    padding: 9px;
    width: 75%;
    margin-bottom: 30px;
  }
  .logo {
    width: 80%;
    margin: auto;
    padding-top: 19px;
  }
  
  .header-text p {
    font-size: 12px;
    margin-top: 7px;
    text-align: center;
  }
  .header-img {
    width: 235px;
  }
  section {
    flex-direction: column;
    width: 80vw;
  }
  .content {
    text-align: center;
  }
  main {
    padding: 30px;
  }
  section img {
    width: 200px;
  }
  .section1-img {
    width: 200px;
  }
  h2 {
    color: hsl(192, 100%, 9%);
    font-family: "Poppins";
    font-weight: 600;
    margin-bottom: 10px;
  }
  .content {
    width: 90%;
  }
  .get-started {
    text-align: center;
    width: 67%;
    padding: 10px;
    box-shadow: 0px 11px 35px 4px rgba(255, 0, 234, 0.15);
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: hsl(192, 100%, 9%);
    padding: 25px;
    margin-top: 60px;
  }
  .footer-left {
    width: 100%;
  }
  .footer-left-location {
    text-align: center;
  }
  
  .footer-middle {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .footer-middle ul {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .footer-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    margin-top: 20px;
  }
  .footer-right a{
    text-align: center;
  }
}
/* media query ends here*/
